.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### JTE ###
/jte-classes/

# TeX
auxil/
presentation.bbl
presentation.bcf
presentation.blg
presentation.fdb_latexmk
presentation.fls
presentation.log
presentation.nav
presentation.out
presentation.run.xml
presentation.snm
presentation.toc
*.pdf
!/docs/*/logos/*.pdf
*.log
*.aux
*.synctex.gz
*.glo
*.ist
*.glsdefs
*.tdo
/pages/
/entwurfsheft/javadoc