:root {
    /* Misc Tailwind variables, needed for other parts to display correctly */
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;

    /* Color FullCalendar using DaisyUI colors */
    --fc-border-color: var(—-color-base-300);
    --fc-now-indicator-color: var(--color-error);
    --fc-small-font-size: nothing;

    --soli-chart-height: 300px;
}

/* Our default light and dark themes (picked automatically by the browser) */
:root {
    color-scheme: light;
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: rgb(0, 150, 130);
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: #ee4c9c;
    --color-secondary-content: #ffffff;
    --color-accent: rgb(70, 100, 170);
    --color-accent-content: oklch(37% 0.146 265.522);
    --color-neutral: rgb(64, 64, 64);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: rgb(35, 161, 224);
    --color-info-rgb: 35, 161, 224; /* Needed for semi-transparent calendar events. DO NOT REMOVE! */
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: rgb(140, 182, 60);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: rgb(223, 155, 27);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: #A22223;
    --color-error-content: #ffffff;
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --color-base-100: oklch(25.33% 0.016 252.42);
        --color-base-200: oklch(23.26% 0.014 253.1);
        --color-base-300: oklch(21.15% 0.012 254.09);
        --color-base-content: oklch(97.807% 0.029 256.847);
        --color-primary: rgb(0, 150, 130);
        --color-primary-content: oklch(93% 0.034 272.788);
        --color-secondary: #ee4c9c;
        --color-secondary-content: #ffffff;
        --color-accent: rgb(70, 100, 170);
        --color-accent-content: oklch(37% 0.146 265.522);
        --color-neutral: rgb(64, 64, 64);
        --color-neutral-content: oklch(92% 0.004 286.32);
        --color-info: rgb(35, 161, 224);
        --color-info-rgb: 35, 161, 224; /* Needed for semi-transparent calendar events. DO NOT REMOVE! */
        --color-info-content: oklch(29% 0.066 243.157);
        --color-success: rgb(140, 182, 60);
        --color-success-content: oklch(37% 0.077 168.94);
        --color-warning: rgb(223, 155, 27);
        --color-warning-content: oklch(27% 0.077 45.635);
        --color-error: #A22223;
        --color-error-content: #ffffff;
        --radius-selector: 0.5rem;
        --radius-field: 0.5rem;
        --radius-box: 0.5rem;
        --size-selector: 0.25rem;
        --size-field: 0.25rem;
        --border: 1px;
        --depth: 1;
        --noise: 0;
    }
}

/* Show the drawer above the calendar */
.drawer-side {
    z-index: 20;
}

/* Do not allocate place for invisible validator hints */
.validator {
    & ~ .validator-hint {
        display: none;
    }
}

/* Subtract the height of the navbar from the size of the screen to avoid a secondary scrollbar in the calendar */
.soli-content-height {
    height: calc(100% - 4rem);
}
@media (width < 64rem) {
    .soli-content-height {
        height: calc(100vh - 4rem);
    }
}

/* Make the now-indicator more visible */
.fc-timegrid-now-indicator-line {
    border-width: 2px !important;
}

/* Colors for calendar events */
.calendar-event-highest {
    background-color: var(--color-error);
    color: var(--color-error-content);
}

.calendar-event-medium {
    background-color: var(--color-warning);
    color: var(--color-warning-content);
}

.calendar-event-lowest {
    background-color: var(--color-info);
    color: var(--color-info-content);
}

.calendar-event-holiday {
    background-color: rgba(var(--color-info-rgb), 0.3) !important;
    /* Since we add transparency to our background, our theme color becomes hard to read either in light or dark mode */
    /* As such, we use the system-default color instead, which should be easier to read :) */
    /*color: var(--color-info-content) !important;*/
    opacity: 1 !important;
}

/* Tweak event formatting to prevent overflow and ensure pleasant padding */
.fc-event-title-container {
    padding-top: 1px;
}

.fc-direction-ltr .fc-timegrid-col-events {
    margin: 0 2px 0 2px;
}

.fc-direction-rtl .fc-timegrid-col-events {
    margin: 0 2px 0 2px;
}

.fc-timegrid-event .fc-event-main {
    padding: 0 1px 0;
}

.fc-timegrid-event-short .fc-event-title > * {
    transform: translateY(-0.1em)
}

.fc-timegrid-event-short .fc-event-title .badge {
    transform: translateY(-0.2em)
}

/* Simple bar charts */
.chart {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: var(--soli-chart-height);
    margin: 0 auto;
    background-image: linear-gradient(to top, oklch(var(--color-neutral-content) / 0.8) 2%, oklch(var(--color-neutral-content) / 0.0) 2%);
    background-size: 100% 50px;
    background-position: left top;
}

.chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: var(--soli-chart-height);
}
.chart span {
    margin: 0 1em;
    display: block;
    background: var(--color-primary);
    animation: draw 0.5s ease-in-out;
}

.chart span:after {
    position: relative;
    content: attr(x-value);
    line-height: 1.75rem;
    top: calc(50% - 0.825rem);
    display: inline-block;
}

.chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 1em 0;
    display: block;
    text-align: center;
    content: attr(x-label);
    word-wrap: break-word;
}

@keyframes draw {
    0% {
        height: 0;
    }
}

/* View/Edit-Switch component */
.soli-edit-content {
 display: none;
}
:has(#soli-edit-toggle:checked) .soli-edit-content {
    display: block;
}
.soli-view-content {
    display: block;
}
:has(#soli-edit-toggle:checked) .soli-view-content {
    display: none
}